<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput
        type="text"
        name="email"
        ngModel
        #emailInput="ngModel"
        required
        email
        placeholder="E-Mail"
      >
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        name="password"
        placeholder="Password"
        ngModel
        #passworsInput="ngModel"
        required
        password
      >
      <mat-error *ngIf="passworsInput.invalid">Please enter a valid Password</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      *ngIf="!isLoading">
      Signup
    </button>
   </form>
</mat-card>
